flows.json
[
    {
        "id": "58b6c811a59c81cb",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d0fc5186341f4ee2",
        "type": "tab",
        "label": "Flow 2",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "d6a3010329a78edd",
        "type": "tab",
        "label": "Style",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c882fe75d4acae11",
        "type": "tab",
        "label": "Flow 3",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "567818b532b20952",
        "type": "ui_tab",
        "name": "Food Dispenser",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "95e967ec8fbcf837",
        "type": "ui_base",
        "theme": {
            "name": "theme-custom",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#016983",
                "baseFont": "Verdana,Verdana,Geneva,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#4B7930",
                    "value": "#016983",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#016983",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#000d33",
                    "edited": true
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#02a6cf",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#016983",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "Verdana,Verdana,Geneva,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "c0ada8f56c21604a",
        "type": "ui_group",
        "name": "Lights on",
        "tab": "435ea9b68a7088e3",
        "order": 1,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0f714a2baa645c3f",
        "type": "ui_tab",
        "name": "Water",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "bde92985be657294",
        "type": "ui_group",
        "name": "gauge",
        "tab": "0f714a2baa645c3f",
        "order": 1,
        "disp": false,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "292a8341e8e17273",
        "type": "ui_group",
        "name": "Start Feeding",
        "tab": "567818b532b20952",
        "order": 1,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "92fc251722c2b1a7",
        "type": "ui_tab",
        "name": "Temperature",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "cbf91c0782859d81",
        "type": "serial-port",
        "name": "",
        "serialport": "/dev/ttyUSB0",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "150",
        "bin": "false",
        "out": "time",
        "addchar": "\\r",
        "responsetimeout": "10000"
    },
    {
        "id": "c4827efd67c08bed",
        "type": "serial-port",
        "name": "",
        "serialport": "/dev/ttyACM1",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "435ea9b68a7088e3",
        "type": "ui_tab",
        "name": "Lights",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c0b1a7eec0dbda03",
        "type": "serial-port",
        "name": "",
        "serialport": "/dev/ttyUSB0",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "100",
        "bin": "false",
        "out": "time",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "4b77d66591329d0b",
        "type": "ui_group",
        "name": "Lights off",
        "tab": "435ea9b68a7088e3",
        "order": 3,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "dfb86175cc93c97d",
        "type": "ui_group",
        "name": "Set timer",
        "tab": "567818b532b20952",
        "order": 3,
        "disp": true,
        "width": 7,
        "collapse": false,
        "className": ""
    },
    {
        "id": "1ea014229fa59644",
        "type": "ui_group",
        "name": "How long should the food be dispensed for:",
        "tab": "567818b532b20952",
        "order": 2,
        "disp": true,
        "width": 10,
        "collapse": false,
        "className": ""
    },
    {
        "id": "1fefa997f2b92291",
        "type": "ui_group",
        "name": "Temprature in bucket",
        "tab": "92fc251722c2b1a7",
        "order": 1,
        "disp": true,
        "width": 11,
        "collapse": false,
        "className": ""
    },
    {
        "id": "4587b94d4484a9ce",
        "type": "ui_group",
        "name": "Wanted temprature",
        "tab": "92fc251722c2b1a7",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a42ebdf6c6814df0",
        "type": "ui_spacer",
        "z": "58b6c811a59c81cb",
        "name": "spacer",
        "group": "12ef673410c8cbcd",
        "order": 1,
        "width": 10,
        "height": 1
    },
    {
        "id": "f05c9b260fb65aca",
        "type": "ui_spacer",
        "z": "58b6c811a59c81cb",
        "name": "spacer",
        "group": "12ef673410c8cbcd",
        "order": 3,
        "width": "10",
        "height": "1"
    },
    {
        "id": "caf55d5cb2bc9ed7",
        "type": "ui_group",
        "name": "Temprature status:",
        "tab": "92fc251722c2b1a7",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c796091d1eec4740",
        "type": "ui_group",
        "name": "Water in Aquarium",
        "tab": "92fc251722c2b1a7",
        "order": 2,
        "disp": true,
        "width": 11,
        "collapse": false,
        "className": ""
    },
    {
        "id": "da92f30f01d1b44f",
        "type": "ui_button",
        "z": "58b6c811a59c81cb",
        "name": "Start feeding",
        "group": "292a8341e8e17273",
        "order": 1,
        "width": 8,
        "height": 2,
        "passthru": false,
        "label": "<font size=6>Start feeding",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "starting",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 135,
        "y": 700,
        "wires": [
            [
                "02df39b52c11b352",
                "86925493d5b3af13",
                "b196c11b1c4baf89"
            ]
        ],
        "l": false
    },
    {
        "id": "02df39b52c11b352",
        "type": "debug",
        "z": "58b6c811a59c81cb",
        "name": "debug 16",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 740,
        "wires": []
    },
    {
        "id": "86925493d5b3af13",
        "type": "ui_text",
        "z": "58b6c811a59c81cb",
        "group": "292a8341e8e17273",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Starting",
        "label": "Status:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 370,
        "y": 660,
        "wires": []
    },
    {
        "id": "f8b8d91eb59d9d0e",
        "type": "serial out",
        "z": "58b6c811a59c81cb",
        "name": "Is it time to feed",
        "serial": "cbf91c0782859d81",
        "x": 600,
        "y": 600,
        "wires": []
    },
    {
        "id": "b196c11b1c4baf89",
        "type": "function",
        "z": "58b6c811a59c81cb",
        "name": "function 35",
        "func": "msg.payload ='feed,'+flow.get(\"time\");\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 700,
        "wires": [
            [
                "f8b8d91eb59d9d0e",
                "9aeecdf1a666b5d0"
            ]
        ]
    },
    {
        "id": "9aeecdf1a666b5d0",
        "type": "debug",
        "z": "58b6c811a59c81cb",
        "name": "debug 17",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 700,
        "wires": []
    },
    {
        "id": "d365033413294508",
        "type": "ui_text_input",
        "z": "58b6c811a59c81cb",
        "name": "Degrees wanted",
        "label": "degrees wanted",
        "tooltip": "",
        "group": "4587b94d4484a9ce",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 220,
        "y": 1040,
        "wires": [
            [
                "78208f45e9bd2ea9"
            ]
        ]
    },
    {
        "id": "40677c498571105a",
        "type": "serial out",
        "z": "58b6c811a59c81cb",
        "name": "Heating",
        "serial": "cbf91c0782859d81",
        "x": 620,
        "y": 1040,
        "wires": []
    },
    {
        "id": "78208f45e9bd2ea9",
        "type": "function",
        "z": "58b6c811a59c81cb",
        "name": "function 22",
        "func": "var wan= msg.payload\nmsg.payload='Wanted,'+wan;\nflow.set(\"Wanted\", wan);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 1040,
        "wires": [
            [
                "40677c498571105a"
            ]
        ]
    },
    {
        "id": "b3fef78d3ee6a9ab",
        "type": "ui_time_scheduler",
        "z": "58b6c811a59c81cb",
        "group": "c0ada8f56c21604a",
        "name": "Lights on",
        "startDay": 0,
        "refresh": 60,
        "devices": [
            "Device 1"
        ],
        "singleOff": false,
        "onlySendChange": false,
        "customPayload": false,
        "eventMode": true,
        "eventOptions": [
            {
                "label": "On",
                "event": "true"
            }
        ],
        "sendTopic": false,
        "lat": "",
        "lon": "",
        "customContextStore": "",
        "outputs": 2,
        "order": 3,
        "width": 0,
        "height": 0,
        "x": 200,
        "y": 1100,
        "wires": [
            [],
            [
                "49dd8e24ae8450ca"
            ]
        ]
    },
    {
        "id": "49dd8e24ae8450ca",
        "type": "function",
        "z": "58b6c811a59c81cb",
        "name": "function 36",
        "func": "var input=msg.payload;\nif(input==true){\nmsg.payload='lights,1';\nreturn msg;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 1100,
        "wires": [
            [
                "6c06333d638b6f1f"
            ]
        ]
    },
    {
        "id": "6c06333d638b6f1f",
        "type": "serial out",
        "z": "58b6c811a59c81cb",
        "name": "",
        "serial": "cbf91c0782859d81",
        "x": 570,
        "y": 1100,
        "wires": []
    },
    {
        "id": "03fc839d29bd6916",
        "type": "ui_time_scheduler",
        "z": "58b6c811a59c81cb",
        "group": "4b77d66591329d0b",
        "name": "lights off",
        "startDay": 0,
        "refresh": 60,
        "devices": [
            "Device 1"
        ],
        "singleOff": false,
        "onlySendChange": false,
        "customPayload": false,
        "eventMode": true,
        "eventOptions": [
            {
                "label": "Off",
                "event": "false"
            }
        ],
        "sendTopic": false,
        "lat": "",
        "lon": "",
        "customContextStore": "",
        "outputs": 2,
        "order": 0,
        "width": 0,
        "height": 0,
        "x": 200,
        "y": 1160,
        "wires": [
            [],
            [
                "cb78bc3f12e9758c"
            ]
        ]
    },
    {
        "id": "cb78bc3f12e9758c",
        "type": "function",
        "z": "58b6c811a59c81cb",
        "name": "function 37",
        "func": "var input=msg.payload;\n\nif(input==false){\nmsg.payload=\"lights,0\";\nreturn msg;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 1160,
        "wires": [
            [
                "97802ad5f4e05647"
            ]
        ]
    },
    {
        "id": "97802ad5f4e05647",
        "type": "serial out",
        "z": "58b6c811a59c81cb",
        "name": "",
        "serial": "cbf91c0782859d81",
        "x": 570,
        "y": 1160,
        "wires": []
    },
    {
        "id": "4e37b79054db7a15",
        "type": "ui_gauge",
        "z": "58b6c811a59c81cb",
        "name": "Water in aquarium",
        "group": "c796091d1eec4740",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature in aquarium",
        "label": "째C",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#99c1f1",
            "#00b500",
            "#ca3838"
        ],
        "seg1": "20",
        "seg2": "30",
        "diff": false,
        "className": "",
        "x": 790,
        "y": 900,
        "wires": []
    },
    {
        "id": "694294204dfb223f",
        "type": "serial in",
        "z": "58b6c811a59c81cb",
        "name": "",
        "serial": "cbf91c0782859d81",
        "x": 210,
        "y": 940,
        "wires": [
            [
                "fc916a71c06f312b",
                "3951fe9ad641576e",
                "85df45f9070e5cd4"
            ]
        ]
    },
    {
        "id": "3951fe9ad641576e",
        "type": "function",
        "z": "58b6c811a59c81cb",
        "name": "function 38",
        "func": "var Temp=msg.payload;\nvar wanted = flow.get(\"wanted\");\nif(Temp-wanted>2){\n    msg.payload=\"Water is too cold\";\n    return msg;\n}\nif(wanted-Temp<-1){\n    msg.payload=\"Water it too hot\";\n    return msg;\n}\nmsg.payload=\"Perfect\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 940,
        "wires": [
            [
                "66a03ea146927195"
            ]
        ]
    },
    {
        "id": "2d3e7007bc31e722",
        "type": "ui_gauge",
        "z": "58b6c811a59c81cb",
        "name": "",
        "group": "1fefa997f2b92291",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Water in Bucket",
        "label": "째C",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#3584e4",
            "#00b500",
            "#ca3838"
        ],
        "seg1": "20",
        "seg2": "30",
        "diff": false,
        "className": "",
        "x": 800,
        "y": 980,
        "wires": []
    },
    {
        "id": "85df45f9070e5cd4",
        "type": "function",
        "z": "58b6c811a59c81cb",
        "name": "function 39",
        "func": "var tempb=0;\nsetTimeout(()=>{tempb=msg.payload;},6000);\nmsg.payload = tempb;\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 980,
        "wires": [
            [
                "2d3e7007bc31e722"
            ]
        ]
    },
    {
        "id": "fc916a71c06f312b",
        "type": "function",
        "z": "58b6c811a59c81cb",
        "name": "function 40",
        "func": "var tempw=msg.payload;\nmsg.payload = tempw\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 900,
        "wires": [
            [
                "4e37b79054db7a15"
            ]
        ]
    },
    {
        "id": "66a03ea146927195",
        "type": "ui_text",
        "z": "58b6c811a59c81cb",
        "group": "caf55d5cb2bc9ed7",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "{{msg.payload}}",
        "format": "",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 830,
        "y": 940,
        "wires": []
    },
    {
        "id": "103ce87fe56ed7f2",
        "type": "ui_text_input",
        "z": "58b6c811a59c81cb",
        "name": "Water easy",
        "label": "Liters",
        "tooltip": "",
        "group": "bde92985be657294",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 200,
        "y": 780,
        "wires": [
            [
                "9f1508192fe80859"
            ]
        ]
    },
    {
        "id": "9f1508192fe80859",
        "type": "ui_slider",
        "z": "58b6c811a59c81cb",
        "name": "Water",
        "label": "Water",
        "tooltip": "",
        "group": "bde92985be657294",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "str",
        "min": 0,
        "max": "1000",
        "step": 1,
        "className": "",
        "x": 360,
        "y": 780,
        "wires": [
            [
                "9895213fea0a7484",
                "f4a3b49230b7cf87"
            ]
        ]
    },
    {
        "id": "f4a3b49230b7cf87",
        "type": "function",
        "z": "58b6c811a59c81cb",
        "name": "function 41",
        "func": "var lit=msg.payload;\nif(lit<0){lit=-lit;}\nif(lit>1000){lit=1000}\nmsg.payload='Liters,'+lit;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 780,
        "wires": [
            [
                "838b70938bd3782c"
            ]
        ]
    },
    {
        "id": "9895213fea0a7484",
        "type": "ui_gauge",
        "z": "58b6c811a59c81cb",
        "name": "",
        "group": "bde92985be657294",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Water",
        "label": "Liters",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 540,
        "y": 820,
        "wires": []
    },
    {
        "id": "838b70938bd3782c",
        "type": "serial out",
        "z": "58b6c811a59c81cb",
        "name": "Extracting water",
        "serial": "cbf91c0782859d81",
        "x": 800,
        "y": 760,
        "wires": []
    },
    {
        "id": "137ce77a90caced7",
        "type": "debug",
        "z": "58b6c811a59c81cb",
        "name": "debug 18",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 820,
        "wires": []
    },
    {
        "id": "227a4ce9be2196fd",
        "type": "ui_time_scheduler",
        "z": "58b6c811a59c81cb",
        "group": "dfb86175cc93c97d",
        "name": "Timer",
        "startDay": "5",
        "refresh": 60,
        "devices": [
            "Device 1"
        ],
        "singleOff": true,
        "onlySendChange": false,
        "customPayload": false,
        "eventMode": true,
        "eventOptions": [
            {
                "label": "On",
                "event": "true"
            }
        ],
        "sendTopic": false,
        "lat": "30",
        "lon": "10",
        "customContextStore": "",
        "outputs": 2,
        "order": 1,
        "width": 0,
        "height": 0,
        "x": 160,
        "y": 580,
        "wires": [
            [],
            [
                "016a5534084008cf"
            ]
        ]
    },
    {
        "id": "016a5534084008cf",
        "type": "function",
        "z": "58b6c811a59c81cb",
        "name": "function 42",
        "func": "var check=msg.payload;\nvar timer= flow.get(\"time\");\nif(check==true){\nmsg.payload ='feed,'+timer;\nreturn msg;\n}\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 580,
        "wires": [
            [
                "f8b8d91eb59d9d0e"
            ]
        ]
    },
    {
        "id": "73538fca7018eef0",
        "type": "function",
        "z": "58b6c811a59c81cb",
        "name": "function 46",
        "func": "msg.payload = msg.payload*1000;\nif(msg.payload>60000){\n    msg.payload=60000;\n}\nflow.set(\"time\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "a958c1af95e0c978",
        "type": "ui_text_input",
        "z": "58b6c811a59c81cb",
        "name": "How much time should i feed",
        "label": "Enter time (in seconds):",
        "tooltip": "",
        "group": "1ea014229fa59644",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 230,
        "y": 520,
        "wires": [
            [
                "73538fca7018eef0"
            ]
        ]
    },
    {
        "id": "1318eb9515d476db",
        "type": "serial in",
        "z": "58b6c811a59c81cb",
        "name": "",
        "serial": "cbf91c0782859d81",
        "x": 1050,
        "y": 700,
        "wires": [
            [
                "84747e141525e15c"
            ]
        ]
    },
    {
        "id": "84747e141525e15c",
        "type": "debug",
        "z": "58b6c811a59c81cb",
        "name": "debug 19",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1220,
        "y": 700,
        "wires": []
    },
    {
        "id": "817508f07d81eb20",
        "type": "function",
        "z": "d0fc5186341f4ee2",
        "name": "function 23",
        "func": "msg.payload = msg.payload*1000;\nif(msg.payload>60000){\n    msg.payload=60000;\n}\nflow.set(\"time\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "a8888dd71bfd86c2",
        "type": "ui_text_input",
        "z": "d0fc5186341f4ee2",
        "name": "How much time should i feed",
        "label": "Enter time (in seconds):",
        "tooltip": "",
        "group": "1ea014229fa59644",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 270,
        "y": 1140,
        "wires": [
            [
                "817508f07d81eb20"
            ]
        ]
    },
    {
        "id": "c0eff6dbf379745a",
        "type": "ui_time_scheduler",
        "z": "d0fc5186341f4ee2",
        "group": "dfb86175cc93c97d",
        "name": "Timer",
        "startDay": "5",
        "refresh": 60,
        "devices": [
            "Device 1"
        ],
        "singleOff": true,
        "onlySendChange": false,
        "customPayload": false,
        "eventMode": true,
        "eventOptions": [
            {
                "label": "On",
                "event": "true"
            }
        ],
        "sendTopic": false,
        "lat": "30",
        "lon": "10",
        "customContextStore": "",
        "outputs": 2,
        "order": 1,
        "width": 0,
        "height": 0,
        "x": 200,
        "y": 1500,
        "wires": [
            [],
            [
                "4e4897e0271b16d8"
            ]
        ]
    },
    {
        "id": "4e4897e0271b16d8",
        "type": "function",
        "z": "d0fc5186341f4ee2",
        "name": "function 34",
        "func": "var check=msg.payload;\nvar timer= flow.get(\"time\");\nif(check==true){\nmsg.payload ='feed,'+timer;\nreturn msg;\n}\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 1500,
        "wires": [
            []
        ]
    },
    {
        "id": "d2a137c655a956c3",
        "type": "ui_gauge",
        "z": "d0fc5186341f4ee2",
        "name": "Water in aquarium",
        "group": "c796091d1eec4740",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature in aquarium",
        "label": "째C",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#99c1f1",
            "#00b500",
            "#ca3838"
        ],
        "seg1": "20",
        "seg2": "30",
        "diff": false,
        "className": "",
        "x": 650,
        "y": 140,
        "wires": []
    },
    {
        "id": "c1d5b719b160c6fe",
        "type": "serial in",
        "z": "d0fc5186341f4ee2",
        "name": "",
        "serial": "c0b1a7eec0dbda03",
        "x": 90,
        "y": 180,
        "wires": [
            [
                "08dc2f0ac5554889"
            ]
        ]
    },
    {
        "id": "08dc2f0ac5554889",
        "type": "json",
        "z": "d0fc5186341f4ee2",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 250,
        "y": 180,
        "wires": [
            [
                "d93f6e9f86e96591",
                "21aaf9e7349594ed",
                "eb1305d6baf8ccac"
            ]
        ]
    },
    {
        "id": "d93f6e9f86e96591",
        "type": "function",
        "z": "d0fc5186341f4ee2",
        "name": "function 31",
        "func": "\nif(msg.payload[0] == \"I\"){\nmsg.payload.split(',')[1];\nvar Watertemp=msg.payload;\nmsg.payload = Watertemp\n}\nvar Buckettemp = 0;\nif(msg.payload[0] == \"O\"){\nBuckettemp=msg.payload;\nmsg.payload = Buckettemp;\n}\nif(Watertemp-Buckettemp>2){\n    msg.payload=\"Water is too cold\";\n    return msg;\n}\nif(Buckettemp-Watertemp>2){\n    msg.payload=\"Water it too hot\";\n    return msg.payload;\n}\nmsg.payload=\"Perfect\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 180,
        "wires": [
            [
                "3cc765c434366211"
            ]
        ]
    },
    {
        "id": "ae77e96749a87638",
        "type": "ui_gauge",
        "z": "d0fc5186341f4ee2",
        "name": "",
        "group": "1fefa997f2b92291",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Water in Bucket",
        "label": "째C",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#3584e4",
            "#00b500",
            "#ca3838"
        ],
        "seg1": "20",
        "seg2": "30",
        "diff": false,
        "className": "",
        "x": 660,
        "y": 220,
        "wires": []
    },
    {
        "id": "21aaf9e7349594ed",
        "type": "function",
        "z": "d0fc5186341f4ee2",
        "name": "function 32",
        "func": "var Buckettemp = 0;\nif(msg.payload[0] == \"O\"){\nvar strSplit=msg.payload.split(',');\nBuckettemp=strSplit[1];\nmsg.payload = Buckettemp;\nreturn msg;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 220,
        "wires": [
            [
                "ae77e96749a87638"
            ]
        ]
    },
    {
        "id": "eb1305d6baf8ccac",
        "type": "function",
        "z": "d0fc5186341f4ee2",
        "name": "function 33",
        "func": "if(msg.payload[0] == \"I\"){\nvar strSplit=msg.payload.split(',');\nvar Watertemp=strSplit[1];\nmsg.payload = Watertemp;\nreturn msg;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 140,
        "wires": [
            [
                "d2a137c655a956c3"
            ]
        ]
    },
    {
        "id": "3cc765c434366211",
        "type": "ui_text",
        "z": "d0fc5186341f4ee2",
        "group": "caf55d5cb2bc9ed7",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "{{msg.payload}}",
        "format": "",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 690,
        "y": 180,
        "wires": []
    },
    {
        "id": "3a4005b7867bff45",
        "type": "ui_time_scheduler",
        "z": "d0fc5186341f4ee2",
        "group": "dfb86175cc93c97d",
        "name": "Timer",
        "startDay": "5",
        "refresh": 60,
        "devices": [
            "Device 1"
        ],
        "singleOff": true,
        "onlySendChange": false,
        "customPayload": false,
        "eventMode": true,
        "eventOptions": [
            {
                "label": "On",
                "event": "true"
            }
        ],
        "sendTopic": false,
        "lat": "30",
        "lon": "10",
        "customContextStore": "",
        "outputs": 2,
        "order": 1,
        "width": 0,
        "height": 0,
        "x": 110,
        "y": 500,
        "wires": [
            [],
            [
                "e1180fcc80eb626c"
            ]
        ]
    },
    {
        "id": "1e21ae6428d15d6f",
        "type": "ui_button",
        "z": "d0fc5186341f4ee2",
        "name": "Start feeding",
        "group": "292a8341e8e17273",
        "order": 1,
        "width": 8,
        "height": 2,
        "passthru": false,
        "label": "<font size=6>Start feeding",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "starting",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 85,
        "y": 600,
        "wires": [
            [
                "c4775fb416771cc5",
                "381e33ac35357bb1",
                "3be229bf4897dcc8"
            ]
        ],
        "l": false
    },
    {
        "id": "c4775fb416771cc5",
        "type": "debug",
        "z": "d0fc5186341f4ee2",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 640,
        "wires": []
    },
    {
        "id": "381e33ac35357bb1",
        "type": "ui_text",
        "z": "d0fc5186341f4ee2",
        "group": "292a8341e8e17273",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Starting",
        "label": "Status:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 320,
        "y": 560,
        "wires": []
    },
    {
        "id": "e1180fcc80eb626c",
        "type": "function",
        "z": "d0fc5186341f4ee2",
        "name": "function 18",
        "func": "var check=msg.payload;\nvar timer= flow.get(\"time\");\nif(check==true){\nmsg.payload ='feed,'+timer;\nreturn msg;\n}\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 500,
        "wires": [
            [
                "0805fe0d4a010b0e"
            ]
        ]
    },
    {
        "id": "0805fe0d4a010b0e",
        "type": "serial out",
        "z": "d0fc5186341f4ee2",
        "name": "Is it time to feed",
        "serial": "c0b1a7eec0dbda03",
        "x": 560,
        "y": 560,
        "wires": []
    },
    {
        "id": "3be229bf4897dcc8",
        "type": "function",
        "z": "d0fc5186341f4ee2",
        "name": "function 21",
        "func": "msg.payload ='feed,'+flow.get(\"time\");\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 600,
        "wires": [
            [
                "0805fe0d4a010b0e",
                "efd119f6bce75f1d"
            ]
        ]
    },
    {
        "id": "efd119f6bce75f1d",
        "type": "debug",
        "z": "d0fc5186341f4ee2",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 600,
        "wires": []
    },
    {
        "id": "ecab50dd0964b988",
        "type": "ui_time_scheduler",
        "z": "d0fc5186341f4ee2",
        "group": "c0ada8f56c21604a",
        "name": "Lights on",
        "startDay": 0,
        "refresh": 60,
        "devices": [
            "Device 1"
        ],
        "singleOff": false,
        "onlySendChange": false,
        "customPayload": false,
        "eventMode": true,
        "eventOptions": [
            {
                "label": "On",
                "event": "true"
            }
        ],
        "sendTopic": false,
        "lat": "",
        "lon": "",
        "customContextStore": "",
        "outputs": 2,
        "order": 3,
        "width": 0,
        "height": 0,
        "x": 140,
        "y": 760,
        "wires": [
            [],
            [
                "a6fe007f06631b29"
            ]
        ]
    },
    {
        "id": "a6fe007f06631b29",
        "type": "function",
        "z": "d0fc5186341f4ee2",
        "name": "function 19",
        "func": "var input=msg.payload;\n\nif(input==true){\nmsg.payload='lights,1';\nreturn msg;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 760,
        "wires": [
            [
                "87104d2cab0986c0"
            ]
        ]
    },
    {
        "id": "87104d2cab0986c0",
        "type": "serial out",
        "z": "d0fc5186341f4ee2",
        "name": "",
        "serial": "c0b1a7eec0dbda03",
        "x": 520,
        "y": 760,
        "wires": []
    },
    {
        "id": "50b3ad49a795a5e6",
        "type": "ui_time_scheduler",
        "z": "d0fc5186341f4ee2",
        "group": "4b77d66591329d0b",
        "name": "lights off",
        "startDay": 0,
        "refresh": 60,
        "devices": [
            "Device 1"
        ],
        "singleOff": false,
        "onlySendChange": false,
        "customPayload": false,
        "eventMode": true,
        "eventOptions": [
            {
                "label": "On",
                "event": "true"
            },
            {
                "label": "Off",
                "event": "false"
            }
        ],
        "sendTopic": false,
        "lat": "",
        "lon": "",
        "customContextStore": "",
        "outputs": 2,
        "order": 0,
        "width": 0,
        "height": 0,
        "x": 140,
        "y": 820,
        "wires": [
            [],
            [
                "95a046770b8241ff"
            ]
        ]
    },
    {
        "id": "95a046770b8241ff",
        "type": "function",
        "z": "d0fc5186341f4ee2",
        "name": "function 20",
        "func": "var input=msg.payload;\n\nif(input==true){\nmsg.payload=\"lights,0\";\nreturn msg;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 820,
        "wires": [
            [
                "0391542c631e3e50"
            ]
        ]
    },
    {
        "id": "0391542c631e3e50",
        "type": "serial out",
        "z": "d0fc5186341f4ee2",
        "name": "",
        "serial": "c0b1a7eec0dbda03",
        "x": 520,
        "y": 820,
        "wires": []
    },
    {
        "id": "6e0378349cf8a3a1",
        "type": "ui_text_input",
        "z": "d0fc5186341f4ee2",
        "name": "Water easy",
        "label": "Liters",
        "tooltip": "",
        "group": "bde92985be657294",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 130,
        "y": 940,
        "wires": [
            [
                "1f88924fe2f596d2"
            ]
        ]
    },
    {
        "id": "1f88924fe2f596d2",
        "type": "ui_slider",
        "z": "d0fc5186341f4ee2",
        "name": "Water",
        "label": "Water",
        "tooltip": "",
        "group": "bde92985be657294",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "str",
        "min": 0,
        "max": "1000",
        "step": 1,
        "className": "",
        "x": 290,
        "y": 940,
        "wires": [
            [
                "44453a884c4e4def",
                "5736e9174f8bb5de"
            ]
        ]
    },
    {
        "id": "5736e9174f8bb5de",
        "type": "function",
        "z": "d0fc5186341f4ee2",
        "name": "function 17",
        "func": "var lit=msg.payload;\nif(lit<0){lit=-lit;}\nif(lit>1000){lit=1000}\nmsg.payload='Liters,'+lit;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 940,
        "wires": [
            [
                "ad22447772f6774f",
                "f8b1000668fdb39f"
            ]
        ]
    },
    {
        "id": "44453a884c4e4def",
        "type": "ui_gauge",
        "z": "d0fc5186341f4ee2",
        "name": "",
        "group": "bde92985be657294",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Water",
        "label": "Liters",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 470,
        "y": 980,
        "wires": []
    },
    {
        "id": "ad22447772f6774f",
        "type": "serial out",
        "z": "d0fc5186341f4ee2",
        "name": "Extracting water",
        "serial": "c0b1a7eec0dbda03",
        "x": 680,
        "y": 920,
        "wires": []
    },
    {
        "id": "f8b1000668fdb39f",
        "type": "debug",
        "z": "d0fc5186341f4ee2",
        "name": "debug 15",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 1000,
        "wires": []
    },
    {
        "id": "11163e44321c56a7",
        "type": "ui_template",
        "z": "d6a3010329a78edd",
        "group": "292a8341e8e17273",
        "name": "Dashboard style",
        "order": 3,
        "width": 0,
        "height": 0,
        "format": "<style>\n    ui-card-panel {\n        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;\n        border-radius: 40px;\n    }\n    ui-card-panel{\n        border-radius: 10px;\n        overflow:hidden;\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "global",
        "className": "",
        "x": 240,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "bc777b32e36eb503",
        "type": "ui_time_scheduler",
        "z": "c882fe75d4acae11",
        "group": "dfb86175cc93c97d",
        "name": "Timer",
        "startDay": "5",
        "refresh": 60,
        "devices": [
            "Device 1"
        ],
        "singleOff": true,
        "onlySendChange": false,
        "customPayload": false,
        "eventMode": true,
        "eventOptions": [
            {
                "label": "On",
                "event": "true"
            }
        ],
        "sendTopic": false,
        "lat": "30",
        "lon": "10",
        "customContextStore": "",
        "outputs": 2,
        "order": 1,
        "width": 0,
        "height": 0,
        "x": 210,
        "y": 220,
        "wires": [
            [],
            [
                "0d74711087eb1031"
            ]
        ]
    },
    {
        "id": "00ba32c30a064f3f",
        "type": "ui_button",
        "z": "c882fe75d4acae11",
        "name": "Start feeding",
        "group": "292a8341e8e17273",
        "order": 1,
        "width": 8,
        "height": 2,
        "passthru": false,
        "label": "<font size=6>Start feeding",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "starting",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 230,
        "y": 320,
        "wires": [
            [
                "4f396fda30fb2170",
                "797cbc52f3e3a26f",
                "e05b70d5e629de77"
            ]
        ]
    },
    {
        "id": "4f396fda30fb2170",
        "type": "debug",
        "z": "c882fe75d4acae11",
        "name": "debug 12",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 360,
        "wires": []
    },
    {
        "id": "797cbc52f3e3a26f",
        "type": "ui_text",
        "z": "c882fe75d4acae11",
        "group": "292a8341e8e17273",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Starting",
        "label": "Status:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 420,
        "y": 280,
        "wires": []
    },
    {
        "id": "c570a749ad62fffe",
        "type": "ui_text_input",
        "z": "c882fe75d4acae11",
        "name": "Water easy",
        "label": "Liters",
        "tooltip": "",
        "group": "bde92985be657294",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 230,
        "y": 400,
        "wires": [
            [
                "1491461d7b824fed"
            ]
        ]
    },
    {
        "id": "1491461d7b824fed",
        "type": "ui_slider",
        "z": "c882fe75d4acae11",
        "name": "Water",
        "label": "Water",
        "tooltip": "",
        "group": "bde92985be657294",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "str",
        "min": 0,
        "max": "1000",
        "step": 1,
        "className": "",
        "x": 390,
        "y": 400,
        "wires": [
            [
                "bbf096d6c99d4901",
                "20e3e330a692b36e"
            ]
        ]
    },
    {
        "id": "20e3e330a692b36e",
        "type": "function",
        "z": "c882fe75d4acae11",
        "name": "function 24",
        "func": "var lit=msg.payload;\nif(lit<0){lit=-lit;}\nif(lit>1000){lit=1000}\nmsg.payload='Liters,'+lit;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 400,
        "wires": [
            [
                "9495aa3df253c58e"
            ]
        ]
    },
    {
        "id": "bbf096d6c99d4901",
        "type": "ui_gauge",
        "z": "c882fe75d4acae11",
        "name": "",
        "group": "bde92985be657294",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Water",
        "label": "Liters",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 570,
        "y": 440,
        "wires": []
    },
    {
        "id": "9495aa3df253c58e",
        "type": "serial out",
        "z": "c882fe75d4acae11",
        "name": "Extracting water",
        "serial": "c0b1a7eec0dbda03",
        "x": 780,
        "y": 400,
        "wires": []
    },
    {
        "id": "b8c4213eacb65b17",
        "type": "ui_text_input",
        "z": "c882fe75d4acae11",
        "name": "Degrees wanted",
        "label": "degrees wanted",
        "tooltip": "",
        "group": "12ef673410c8cbcd",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 240,
        "y": 560,
        "wires": [
            [
                "a6f25f5252a02797"
            ]
        ]
    },
    {
        "id": "6be49b0389f00f9f",
        "type": "ui_slider",
        "z": "c882fe75d4acae11",
        "name": "Temprature",
        "label": "Temperature",
        "tooltip": "",
        "group": "12ef673410c8cbcd",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "60",
        "step": 1,
        "className": "",
        "x": 530,
        "y": 500,
        "wires": [
            [
                "bda31883d320db33"
            ]
        ]
    },
    {
        "id": "bda31883d320db33",
        "type": "ui_gauge",
        "z": "c882fe75d4acae11",
        "name": "째C",
        "group": "12ef673410c8cbcd",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "60",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 710,
        "y": 500,
        "wires": []
    },
    {
        "id": "9ddd17f7b7e0adc9",
        "type": "serial out",
        "z": "c882fe75d4acae11",
        "name": "Heating",
        "serial": "c0b1a7eec0dbda03",
        "x": 600,
        "y": 560,
        "wires": []
    },
    {
        "id": "cc78540596dbe102",
        "type": "serial in",
        "z": "c882fe75d4acae11",
        "name": "",
        "serial": "cbf91c0782859d81",
        "x": 230,
        "y": 500,
        "wires": [
            [
                "8e73be5483065856"
            ]
        ]
    },
    {
        "id": "0d74711087eb1031",
        "type": "function",
        "z": "c882fe75d4acae11",
        "name": "function 25",
        "func": "var check=msg.payload;\nvar timer= flow.get(\"time\");\nif(check==true){\nmsg.payload ='feed,'+timer;\nreturn msg;\n}\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 220,
        "wires": [
            [
                "7c377854aab8f4d7"
            ]
        ]
    },
    {
        "id": "7c377854aab8f4d7",
        "type": "serial out",
        "z": "c882fe75d4acae11",
        "name": "Is it time to feed",
        "serial": "cbf91c0782859d81",
        "x": 660,
        "y": 280,
        "wires": []
    },
    {
        "id": "ab661529f4a34e45",
        "type": "ui_time_scheduler",
        "z": "c882fe75d4acae11",
        "group": "c0ada8f56c21604a",
        "name": "Lights on",
        "startDay": 0,
        "refresh": 60,
        "devices": [
            "Device 1"
        ],
        "singleOff": false,
        "onlySendChange": false,
        "customPayload": false,
        "eventMode": true,
        "eventOptions": [
            {
                "label": "On",
                "event": "true"
            }
        ],
        "sendTopic": false,
        "lat": "",
        "lon": "",
        "customContextStore": "",
        "outputs": 2,
        "order": 3,
        "width": 0,
        "height": 0,
        "x": 220,
        "y": 620,
        "wires": [
            [],
            [
                "6feab93540200319"
            ]
        ]
    },
    {
        "id": "6feab93540200319",
        "type": "function",
        "z": "c882fe75d4acae11",
        "name": "function 26",
        "func": "var input=msg.payload;\n\nif(input==true){\nmsg.payload='lights,1';\nreturn msg;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 620,
        "wires": [
            [
                "c6e114d696122779"
            ]
        ]
    },
    {
        "id": "c6e114d696122779",
        "type": "serial out",
        "z": "c882fe75d4acae11",
        "name": "",
        "serial": "c4827efd67c08bed",
        "x": 600,
        "y": 620,
        "wires": []
    },
    {
        "id": "886cf66d04e2c605",
        "type": "ui_time_scheduler",
        "z": "c882fe75d4acae11",
        "group": "4b77d66591329d0b",
        "name": "lights off",
        "startDay": 0,
        "refresh": 60,
        "devices": [
            "Device 1"
        ],
        "singleOff": false,
        "onlySendChange": false,
        "customPayload": false,
        "eventMode": true,
        "eventOptions": [
            {
                "label": "On",
                "event": "true"
            },
            {
                "label": "Off",
                "event": "false"
            }
        ],
        "sendTopic": false,
        "lat": "",
        "lon": "",
        "customContextStore": "",
        "outputs": 2,
        "order": 0,
        "width": 0,
        "height": 0,
        "x": 220,
        "y": 680,
        "wires": [
            [],
            [
                "f4e44eb79aba22c6"
            ]
        ]
    },
    {
        "id": "f4e44eb79aba22c6",
        "type": "function",
        "z": "c882fe75d4acae11",
        "name": "function 27",
        "func": "var input=msg.payload;\n\nif(input==true){\nmsg.payload=\"lights,0\";\nreturn msg;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 680,
        "wires": [
            [
                "c22b84cb238fa9e0"
            ]
        ]
    },
    {
        "id": "c22b84cb238fa9e0",
        "type": "serial out",
        "z": "c882fe75d4acae11",
        "name": "",
        "serial": "c4827efd67c08bed",
        "x": 600,
        "y": 680,
        "wires": []
    },
    {
        "id": "e05b70d5e629de77",
        "type": "function",
        "z": "c882fe75d4acae11",
        "name": "function 28",
        "func": "msg.payload ='feed,'+flow.get(\"time\");\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 320,
        "wires": [
            [
                "7c377854aab8f4d7",
                "9d84b1eb516e5fa3"
            ]
        ]
    },
    {
        "id": "8e73be5483065856",
        "type": "json",
        "z": "c882fe75d4acae11",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 390,
        "y": 500,
        "wires": [
            [
                "6be49b0389f00f9f"
            ]
        ]
    },
    {
        "id": "a6f25f5252a02797",
        "type": "function",
        "z": "c882fe75d4acae11",
        "name": "function 29",
        "func": "var wan= msg.payload\nmsg.payload='Wanted,'+wan;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 560,
        "wires": [
            [
                "9ddd17f7b7e0adc9"
            ]
        ]
    },
    {
        "id": "f73046a366697dbc",
        "type": "function",
        "z": "c882fe75d4acae11",
        "name": "function 30",
        "func": "msg.payload = msg.payload*1000;\nif(msg.payload>60000){\n    msg.payload=60000;\n}\nflow.set(\"time\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "e9aea1ce05d49e9f",
        "type": "ui_text_input",
        "z": "c882fe75d4acae11",
        "name": "How much time should i feed",
        "label": "Enter time (in seconds):",
        "tooltip": "",
        "group": "1ea014229fa59644",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 280,
        "y": 160,
        "wires": [
            [
                "f73046a366697dbc"
            ]
        ]
    },
    {
        "id": "9d84b1eb516e5fa3",
        "type": "debug",
        "z": "c882fe75d4acae11",
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 320,
        "wires": []
    },
    {
        "id": "933630fdac62a3ec",
        "type": "serial in",
        "z": "c882fe75d4acae11",
        "name": "",
        "serial": "cbf91c0782859d81",
        "x": 970,
        "y": 400,
        "wires": [
            [
                "ed198f760c5af3ab"
            ]
        ]
    },
    {
        "id": "ed198f760c5af3ab",
        "type": "debug",
        "z": "c882fe75d4acae11",
        "name": "debug 14",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1200,
        "y": 400,
        "wires": []
    }
]