flows.json
[
    {
        "id": "58b6c811a59c81cb",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "567818b532b20952",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "95e967ec8fbcf837",
        "type": "ui_base",
        "theme": {
            "name": "theme-custom",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#016983",
                "baseFont": "Verdana,Verdana,Geneva,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#4B7930",
                    "value": "#016983",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#016983",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#000d33",
                    "edited": true
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#02a6cf",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#016983",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "Verdana,Verdana,Geneva,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "c0ada8f56c21604a",
        "type": "ui_group",
        "name": "Button",
        "tab": "567818b532b20952",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "0f714a2baa645c3f",
        "type": "ui_tab",
        "name": "Water",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "bde92985be657294",
        "type": "ui_group",
        "name": "gauge",
        "tab": "0f714a2baa645c3f",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "292a8341e8e17273",
        "type": "ui_group",
        "name": "Nasko",
        "tab": "567818b532b20952",
        "order": 2,
        "disp": true,
        "width": "4",
        "collapse": false,
        "className": ""
    },
    {
        "id": "92fc251722c2b1a7",
        "type": "ui_tab",
        "name": "Temprature",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "12ef673410c8cbcd",
        "type": "ui_group",
        "name": "gauge",
        "tab": "92fc251722c2b1a7",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "cbf91c0782859d81",
        "type": "serial-port",
        "name": "",
        "serialport": "/dev/ttyS14",
        "serialbaud": "57600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "c4827efd67c08bed",
        "type": "serial-port",
        "name": "",
        "serialport": "/dev/ttyS10",
        "serialbaud": "57600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "170211c5f81fec88",
        "type": "ui_time_scheduler",
        "z": "58b6c811a59c81cb",
        "group": "c0ada8f56c21604a",
        "name": "Timer",
        "startDay": "4",
        "refresh": 60,
        "devices": [
            "Device 1"
        ],
        "singleOff": true,
        "onlySendChange": false,
        "customPayload": false,
        "eventMode": true,
        "eventOptions": [
            {
                "label": "On",
                "event": "true"
            },
            {
                "label": "Off",
                "event": "false"
            }
        ],
        "sendTopic": false,
        "lat": "48",
        "lon": "15",
        "customContextStore": "",
        "outputs": 2,
        "order": 0,
        "width": 0,
        "height": 0,
        "x": 370,
        "y": 200,
        "wires": [
            [
                "6b9be259bc132cbf"
            ],
            [
                "6b9be259bc132cbf"
            ]
        ]
    },
    {
        "id": "a1bf0d75f2d3cf8c",
        "type": "ui_button",
        "z": "58b6c811a59c81cb",
        "name": "Start feeding",
        "group": "c0ada8f56c21604a",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Start feeding",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "starting",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 300,
        "wires": [
            [
                "564240a4240b9bac",
                "fd9490d66a67aba7",
                "28e84e2de9073445"
            ]
        ]
    },
    {
        "id": "564240a4240b9bac",
        "type": "debug",
        "z": "58b6c811a59c81cb",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 340,
        "wires": []
    },
    {
        "id": "28e84e2de9073445",
        "type": "join",
        "z": "58b6c811a59c81cb",
        "name": "",
        "mode": "auto",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": "false",
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "x": 370,
        "y": 300,
        "wires": [
            [
                "6b9be259bc132cbf"
            ]
        ]
    },
    {
        "id": "fd9490d66a67aba7",
        "type": "ui_text",
        "z": "58b6c811a59c81cb",
        "group": "c0ada8f56c21604a",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Starting",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000",
        "x": 380,
        "y": 260,
        "wires": []
    },
    {
        "id": "58744b4361813593",
        "type": "ui_text_input",
        "z": "58b6c811a59c81cb",
        "name": "Water easy",
        "label": "LIters",
        "tooltip": "",
        "group": "bde92985be657294",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 170,
        "y": 420,
        "wires": [
            [
                "c01be2495c4b7a2f"
            ]
        ]
    },
    {
        "id": "c01be2495c4b7a2f",
        "type": "ui_slider",
        "z": "58b6c811a59c81cb",
        "name": "Water",
        "label": "Water",
        "tooltip": "",
        "group": "bde92985be657294",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "1000",
        "step": 1,
        "className": "",
        "x": 330,
        "y": 420,
        "wires": [
            [
                "17f4c6ccf95a253d",
                "2f703281d3d8aeb1"
            ]
        ]
    },
    {
        "id": "17f4c6ccf95a253d",
        "type": "function",
        "z": "58b6c811a59c81cb",
        "name": "function 1",
        "func": "var input=msg.payload;\n\nreturn console.log(\"Check time for %d liters\", input);\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 420,
        "wires": [
            [
                "2ac2fc9bec3643bc"
            ]
        ]
    },
    {
        "id": "2f703281d3d8aeb1",
        "type": "ui_gauge",
        "z": "58b6c811a59c81cb",
        "name": "",
        "group": "bde92985be657294",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Water",
        "label": "Liters",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 510,
        "y": 460,
        "wires": []
    },
    {
        "id": "2ac2fc9bec3643bc",
        "type": "serial out",
        "z": "58b6c811a59c81cb",
        "name": "Extracting water",
        "serial": "",
        "x": 700,
        "y": 420,
        "wires": []
    },
    {
        "id": "f96a5e0e7bae88e5",
        "type": "ui_text_input",
        "z": "58b6c811a59c81cb",
        "name": "Degrees wanted",
        "label": "degrees wanted",
        "tooltip": "",
        "group": "12ef673410c8cbcd",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 180,
        "y": 620,
        "wires": [
            [
                "38ad2d0d64c8f093"
            ]
        ]
    },
    {
        "id": "2c10fdfc98d1368e",
        "type": "ui_slider",
        "z": "58b6c811a59c81cb",
        "name": "Temprature",
        "label": "Temperature",
        "tooltip": "",
        "group": "12ef673410c8cbcd",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "50",
        "step": 1,
        "className": "",
        "x": 330,
        "y": 520,
        "wires": [
            [
                "d86ec0fdc071f005"
            ]
        ]
    },
    {
        "id": "d86ec0fdc071f005",
        "type": "ui_gauge",
        "z": "58b6c811a59c81cb",
        "name": "°C",
        "group": "12ef673410c8cbcd",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 510,
        "y": 520,
        "wires": []
    },
    {
        "id": "55ad258672f39bff",
        "type": "serial out",
        "z": "58b6c811a59c81cb",
        "name": "Heating",
        "serial": "c4827efd67c08bed",
        "x": 620,
        "y": 580,
        "wires": []
    },
    {
        "id": "38ad2d0d64c8f093",
        "type": "function",
        "z": "58b6c811a59c81cb",
        "name": "function 3",
        "func": "var temp=msg.payload;\nvar now=0;\nif(now<temp)\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 580,
        "wires": [
            [
                "55ad258672f39bff"
            ]
        ]
    },
    {
        "id": "ad36dc8c1884db2d",
        "type": "serial in",
        "z": "58b6c811a59c81cb",
        "name": "",
        "serial": "cbf91c0782859d81",
        "x": 140,
        "y": 520,
        "wires": [
            [
                "38ad2d0d64c8f093",
                "2c10fdfc98d1368e"
            ]
        ]
    },
    {
        "id": "6b9be259bc132cbf",
        "type": "function",
        "z": "58b6c811a59c81cb",
        "name": "function 4",
        "func": "var check=msg.payload;\nif(check==true){\nreturn console.log(\"feeding 15\");\n}\nelse {return console.log(\"It's not time yet\");}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 280,
        "wires": [
            [
                "c28f28ee1884cf01"
            ]
        ]
    },
    {
        "id": "c28f28ee1884cf01",
        "type": "serial out",
        "z": "58b6c811a59c81cb",
        "name": "Is it time to feed",
        "serial": "cbf91c0782859d81",
        "x": 740,
        "y": 280,
        "wires": []
    }
]